extends layout

block content-header
block content
    .row
    .row
        .dark-background.center
            .col.s12.m12
                .card
                    .card-content.product-card
                        span.card-title= product.title
                        p= license
                        hr
                        | For setup and installation instructions visit <a href="https://wiki.cloudsixteen.com">the Cloud Sixteen Wiki</a>, specifically the <a href="https://wiki.cloudsixteen.com/customers/getting-started">Getting Started</a> guide.